/* primeiro elemento */
.lista-1 li:first-child {
    background: #caf;
  }
  
  /* último elemento */
  .lista-1 li:last-child {
    background: #cfa;
  }
  
  /* terceiro elemento */
  .lista-1 li:nth-child(3) {
    background: #fda;
  }
  
  /* elementos ímpares */
  .lista-2 li:nth-child(odd) {
    background: #cfa;
  }
  
  /* elementos pares */
  .lista-2 li:nth-child(even) {
    background: #adf;
  }
  
  /* de 4 em 4 */
  .lista-2 li:nth-child(4n) {
    background: #caf;
  }
  /* todos menos first-child e last-child */
.lista-3 li:not(:first-child, :last-child) {
    background: #adf;
  }
  
  /* todos h2's dentro de section, menos o que tiver a classe .contato */
  section h2:not(.contato) {
    text-decoration: underline;
  }
  